.shop {
  &__body {
    display: flex;
  }

  &__column {
    flex: 0 1 16.666%;

    &_b {
      flex: 0 1 33.333%;
    }
  }

  &__footer {
    background-color: #282f35;
    padding: 75px 0;
    text-align: center;
  }

  &__btn {
    display: inline-block;
    height: 50px;
    line-height: 48px;
    letter-spacing: 2.8px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    padding: 0px 60px;
    text-decoration: none;
    transition: all 0.3s ease 0s;

    &:hover {
      border: 1px solid #64c29e;
      color: #64c29e;
    }
  }

  @media (max-width: 1100px) {
    &__body {
      flex-wrap: wrap;
    }

    &__column {
      flex: 0 1 50%;

      &:first-child {
        flex: 1 1 100%;
      }

      &:last-child {
        flex: 1 1 100%;
      }
    }

    &__footer {
      padding: 50px 0;
    }

    &__btn {
      padding: 0 30px;
    }
  }
}

.block-shop {
  height: 100%;

  &__row {
    display: flex;
  }

  &__column {
    flex: 0 1 50%;
  }

  &__item {
    padding-bottom: 50%;
    height: auto;

    &_b {
      padding: 0px 0px 200.5% 0px;
    }

    &_l {
      padding: 0px 0px 100% 0px; 
    }
  }
}